body{
    background-color: darkblue;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
    border-radius: 32%;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    background-color: white;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 80%;
    border-radius: 6px;
    padding: 34px;
    background-image: url('Cat.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: right;
}

#cl{
    color: black;
 }

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}


